.hidden {
    display: none;
}

body {
    font-family: "Roboto", sans-serif;
    color: #434455;
    background-color: #ffffff;
}

h1,
h2,
h3,
p,
ul {
    margin: 0;
    padding: 0;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

button {
    font-family: inherit;
    color: currentColor;
    cursor: pointer;
}

input,
textarea,
button {
    font-family: inherit;
    line-height: inherit;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}



.container {
    max-width: 320px;
    margin: 0 auto;
    padding: 0 16px;
}

@media screen and (min-width: 768px) {
    .container {
        max-width: 768px;
    }
}

@media screen and (min-width: 1158px) {
    .container {
        max-width: 1158px;
        padding: 0 15px;
    }
}

/*header*/

.page-header {
    border-bottom: 1px solid #e7e9fc;
    box-shadow: 0 1px 6px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 2px 1px 0 rgba(46, 47, 66, 0.08);
    background: #fff;
}

.header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.menu,
.header-info {
    display: none;
}

.logo {
    font-family: "Raleway", sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.03em;
    color: #4d5ae5;
    text-transform: uppercase;
    padding: 16px 0;
    display: block;
}

.studio-black {
    color: #2e2f42;
}

.burger-btn {
    padding: 0;
    border: none;
    background-color: transparent;
}

.burger-icon {
    display: block;
    fill: #2f2f37;
}

/*section1-hero*/

.main-section {
    max-width: 320px;
    margin: 0 auto;
    padding: 72px 0;
    background-color: #2e2f42;
    color: #ffffff;
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
        url('../images/hero/hero-mob-min.jpg');

    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

@media screen and (min-resolution: 2x),
(-webkit-device-pixel-ratio: 2x) {
    .main-section {
        background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
            url('../images/hero/hero-mob@2x-min.jpg');
    }
}

.main-title {

    font-size: 36px;
    font-weight: 700;
    letter-spacing: 0.02em;
    text-align: center;
    color: #ffffff;
    margin: 0 auto;

    padding-left: 52px;
    padding-right: 52px;
    margin-bottom: 72px;
}

.order-service-button {
    display: block;
    min-width: 169px;
    height: 56px;
    border: none;
    border-radius: 4px;
    padding: 16px 32px;
    margin: 0 auto;
    background-color: #4d5ae5;
    cursor: pointer;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #ffffff;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.order-service-button:hover {
    background-color: #404bbf;
}

.order-service-button:focus {
    background-color: #404bbf;
}

/*section2-service*/

.service-icon,
.icon {
    display: none;
}

.section-service {
    padding-top: 96px;
    padding-bottom: 96px;
}

.services-item {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    gap: 72px;
}

.service {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.section-service-title {
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.02em;
    color: #2e2f42;
    text-align: center;

}

.service-text {
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

/*section3-person*/

.section-person {
    padding-top: 96px;
    padding-bottom: 96px;
    background-color: #f4f4fd;
}

.title {
    margin-bottom: 72px;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    text-transform: capitalize;
    color: #2e2f42;
}

.person {
    display: flex;
    flex-direction: column;
    gap: 48px;
    justify-content: center;
    align-items: center;

}

.name {

    border-radius: 0 0 4px 4px;
    box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
    background: #fff;
}

.name-person {
    text-align: center;
    padding: 32px 0;
}

.section-title {
    margin-bottom: 8px;
    font-size: 20px;
    font-weight: 500;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
}

.text {
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 0.02em;
    text-align: center;
    color: #434455;
    margin-bottom: 8px;
}

.social-item {
    display: flex;
    justify-content: center;
    gap: 24px;
}

.social-link {
    width: 40px;
    height: 40px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.link {
    width: 100%;
    height: 100%;
    background-color: #4d5ae5;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.link:hover {
    background-color: #404bbf;
}

.link:focus {
    background-color: #404bbf;
}

.traling-icons {
    fill: #f4f4fd;
}

.section-service {
    background-color: #ffffff;
}

/*section4-portfolio*/

.section-portfolio {
    padding: 96px 0;
}

.items {
    display: flex;
    flex-direction: column;
    gap: 24px;
    padding: 0;
    margin: 0;
}

.name-item {
    padding: 32px 16px;
    border: 1px solid #e7e9fc;
    border-top: none;
}

.section-title-portfolio {
    font-size: 20px;
    font-weight: 500;
    letter-spacing: 0.02em;
    color: #2e2f42;
    margin-bottom: 8px;
}

.section-portfolio {
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 0.02em;
    color: #434455;
}

.list-item {
    list-style: none;
    position: relative;
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.list-item {
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
        0px 1px 1px rgba(46, 47, 66, 0.16),
        0px 2px 1px rgba(46, 47, 66, 0.08);
    transform: translateY(0%);
    cursor: pointer;
}

.list-item:hover .overlay {
    transform: translate(0%);
}

.img-overlay {
    position: relative;
    overflow: hidden;
    width: 100%;
}

.overlay {
    position: absolute;
    bottom: -100%;
    top: 0;
    width: 100%;
    height: 100%;
    background: #4d5ae5;
    color: #f4f4fd;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    padding: 40px 32px;
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/*footer*/
.page-footer {
    background-color: #2e2f42;
    padding-top: 96px;
    padding-bottom: 96px;
}

.container-footer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.social-item-footer {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 16px;
    max-width: 100%;
    overflow: hidden;
}

.logo-footer {
    display: block;
    text-align: center;
    margin-bottom: 16px;
    font-family: "Raleway", sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.03em;
    color: #4d5ae5;
    text-transform: uppercase;
}

.text-footer {
    max-width: 288px;
    font-size: 16px;
    font-weight: 400;
    color: #f4f4fd;
    line-height: 1.5;
    letter-spacing: 0.02em;
    margin: 0 auto;
}

.text-media {
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #ffffff;
    margin-bottom: 16px;
    text-align: center;
}

.studio {
    color: #f4f4fd
}

.social-footer {
    margin-top: 72px;
    margin-bottom: 72px;
}

.link-footer {
    width: 100%;
    height: 100%;
    background-color: #4d5ae5;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.link-footer:hover {
    background: #31d0aa;
}

.link-footer:focus {
    background: #31d0aa;
}

.footer-email {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 100%;
    overflow: hidden;

}

.subscribe {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    margin-bottom: 16px;
    color: #ffffff;
    text-align: center;
}

.form-footer-input {
    width: 288px;
    height: 40px;
    outline: transparent;
    border: 1px solid #fff;
    border-radius: 4px;
    background-color: transparent;
    font-size: 12px;
    line-height: 2;
    letter-spacing: 0.04em;
    padding-left: 16px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    color: #ffffff;
}



.form-footer-input::placeholder {
    color: #fff;
    font-weight: 400;
    font-size: 12px;
    line-height: 2;
    letter-spacing: 0.04em;
}

.footer-input {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
}

.footer-button {
    background-color: #4d5ae5;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    border-radius: 4px;
    width: 165px;
    height: 40px;
    color: #ffffff;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    text-align: center;
    cursor: pointer;
    border: none;
}

.footer-button:hover {
    background-color: #404bbf;
}

.footer-button:focus {
    background-color: #404bbf;
}

.icon-send {
    color: #ffffff;
    margin-left: 16px;
}

/*modal*/

.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(46, 47, 66, 0.4);
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-open {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
}

.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 288px;
    height: 623px;
    border-radius: 4px;
    transform: translate(-50%, -50%);
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12), 0 2px 1px 0 rgba(0, 0, 0, 0.2);
    background-color: #fcfcfc;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    padding: 72px 16px 24px 16px;
}

.backdrop:not(.is-open) .modal {
    transform: translate(-50%, -100%);
}

.modal-close {
    border: none;
    position: absolute;
    color: #2e2f42;
    top: 24px;
    right: 24px;
    width: 24px;
    height: 24px;
    background-color: #e7e9fc;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    padding: 0;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close:hover {
    background-color: #404bbf;
    fill: #ffffff;
    border: none;
}

.modal-close:focus {
    background-color: #404bbf;
    fill: #ffffff;
    border: none;
}

.icon-close {
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.title-modal {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
    margin-bottom: 16px;
}

.form-wrap {
    margin-bottom: 8px;
}

.form-wrap-comment {
    margin-bottom: 16px;
}

.input-wrapper {
    position: relative;
}

.form-input {
    width: 100%;
    height: 40px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    padding-left: 38px;
    outline: transparent;
    background-color: transparent;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-input:focus {
    border-color: #4d5ae5;

}

.form-input:focus+.form-icon {
    fill: #4d5ae5;
}

.form-label {
    display: block;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #8e8f99;
    margin-bottom: 4px;
}

.form-icon {
    fill: #2e2f42;
    position: absolute;
    left: 16px;
    top: 50%;
    transform: translateY(-50%);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-textarea {
    width: 100%;
    height: 120px;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: rgba(46, 47, 66, 0.4);
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    background-color: transparent;
    padding: 8px 16px;
    outline: transparent;
    resize: none;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-textarea:focus {
    border-color: #4d5ae5;
}

.form-check {
    margin-bottom: 24px;
}

.check-item {
    width: 16px;
    height: 16px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 2px;
    margin-right: 8px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        border 250ms cubic-bezier(0.4, 0, 0.2, 1),
        fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    display: inline-flex;
    align-items: center;
    justify-content: center;
    fill: transparent;
    flex-shrink: 0;
}


.check-text {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #8e8f99;
}

.check-input:checked+.check-text .check-item {
    background-color: #404bbf;
    fill: #f4f4fd;
    border: none;
}

.check-policy {
    font-weight: 400;
    font-size: 12px;
    line-height: 1.33;
    text-decoration: underline;
    text-decoration-skip-ink: none;
    text-decoration: underline;
    color: #4d5ae5;
}

.modal-button {
    display: block;
    min-width: 169px;
    height: 56px;
    border: none;
    border-radius: 4px;
    padding: 16px 32px;
    margin: 0 auto;
    background-color: #4d5ae5;
    cursor: pointer;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #ffffff;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    margin-top: 24px;
}

.modal-button:hover {
    background-color: #404bbf;
}

.modal-button:focus {
    background-color: #404bbf;
}

@media screen and (min-width: 768px) {
    .burger-btn {
        display: none;
    }

    .menu {
        display: flex;
        gap: 40px;
        position: relative;
        color: #404bbf;
    }

    .logo {
        padding: 24px 0;
        margin-right: 120px;

    }

    .header-info {
        display: block;
        align-items: center;
        font-style: normal;
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    .header-nav {
        display: flex;
        align-items: center;
    }

    .menu-item-studio {
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    .menu-link {
        padding: 24px 0;
        display: block;
        font-size: 16px;
        font-weight: 500;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #2e2f42;
        position: relative;
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
        transition: transform 250ms;
    }

    .menu-link-studio {
        padding: 24px 0;
        display: block;
        font-size: 16px;
        font-weight: 500;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #404bbf;
        position: relative;
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    .menu-link-studio.current {
        position: relative;
    }

    .menu-link-studio.current::after {
        content: '';
        position: absolute;
        left: 0;
        bottom: -1px;
        width: 100%;
        height: 4px;
        border-radius: 2px;
        background-color: #404bbf;
    }

    .menu-link:hover,
    .menu-link:focus {
        color: #404bbf;
    }

    .menu-link-studio:hover,
    .menu-link-studio:focus,
    .menu-link0studio.current {
        color: #404bbf;
    }

    .info-list {
        display: flex;
        flex-direction: column;
        gap: 12px;
    }

    .address-link {
        display: block;
        font-size: 12px;
        line-height: 1.17;
        letter-spacing: 0.04em;
        color: #434455;
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    .address-link:hover {
        color: #404bbf;
    }

    .address-link:focus {
        color: #404bbf;
    }


    /*section1-hero*/

    .main-section {
        max-width: 768px;
        margin: 0 auto;
        padding: 112px 0;
        background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
            url('../images/hero/hero-tab-min.jpg');

    }

    @media screen and (min-resolution: 2x),
    (-webkit-device-pixel-ratio: 2x) {
        .main-section {
            background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
                url('../images/hero/hero-tab@2x-min.jpg');
        }
    }

    .main-title {
        padding: 0;
        font-size: 56px;
        max-width: 498px;
        margin-bottom: 36px;
    }

    .order-service-button {
        padding: 0;
    }


    /*section2-service*/


    .service-icon,
    .icon {
        display: none;
    }

    .section-service {
        display: flex;
        justify-content: center;
    }

    .services-item {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        gap: 24px;
        row-gap: 72px;
    }

    .service {
        width: calc((100% - 24px) / 2);
        align-items: flex-start;
        justify-content: flex-start;

    }

    /*section3-person*/

    .person {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        gap: 24px;
        row-gap: 72px;
    }

    /*section4-portfolio*/

    .sectiom-portfolio {
        display: flex;
    }

    .items {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        padding: 0;
        margin: 0;
        row-gap: 72px;
    }

    .list-item {
        width: calc((100% - 24px) / 2);
    }

    /*footer*/
    .container.container-footer {
        padding: 0 164px 0 108px;
    }

    .container-footer {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        align-items: center;
    }

    .logo-footer {
        margin: 0;
        margin-bottom: 16px;
        text-align: left;
    }

    .logo-text {
        margin-right: 24px;
        margin-bottom: 72px;
    }

    .text-media {
        text-align: left;
    }

    .text-footer {
        max-width: 264px;
    }

    .social-footer {
        margin-top: 0;
        margin-bottom: 104px;
    }

    .footer-input {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
    }

    .form-footer-input {
        width: 264px;
    }

    .subscribe {
        text-align: start;
    }

    /*modal*/
    .modal {
        width: 408px;
        height: 584px;
        padding: 72px 24px 24px 24px;
    }
}


@media screen and (min-width: 1158px) {
    .logo {
        margin-right: 76px;
    }


    .info-list {
        flex-direction: row;
        align-items: center;
        gap: 40px;
    }

    .address-link {
        padding: 24px 0;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
    }

    /*section1-hero*/

    .main-section {
        max-width: 1440px;
        padding: 188px 0;
        background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
            url('../images/hero/hero-desk-min.jpg');

    }

    @media screen and (min-resolution: 2x),
    (-webkit-device-pixel-ratio: 2x) {
        .main-section {
            background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
                url('../images/hero/hero-desk@2x-min.jpg');
        }
    }

    .main-title {
        margin-bottom: 48px;
    }

    /*section2-service*/
    .service-icon,
    .icon {
        display: inline-block;
    }

    .section-service {
        padding-top: 120px;
        padding-bottom: 120px;
    }

    .services-item {
        display: flex;
        gap: 24px;
        flex: 1 1 calc(25% - 8px);
        box-sizing: border-box;
    }

    .service {
        width: calc((100% - 72px) / 4);
    }

    .service-icon {
        display: flex;
        justify-content: center;
        align-items: center;
        border: 1px solid #8e8f99;
        border-radius: 4px;
        width: 264px;
        height: 112px;
        background: #f4f4fd;
    }

    .icon {
        display: inline-block;
        fill: currentColor;
        fill: #2e2f42;
        opacity: 1;
    }

    .section-service-title {

        font-size: 20px;
        font-weight: 500;
        line-height: 1.2;
        letter-spacing: 0.02em;
        color: #2e2f42;
    }

    .service-text {
        font-size: 16px;
        font-weight: 400;
        line-height: 1.5;
        letter-spacing: 0.01em;
        color: #434455;
    }

    /*section3-person*/
    .section-person {
        padding: 120px 0;
    }

    /*section4-portfolio*/

    .section-portfolio {
        padding: 120px 0;
    }

    .items {
        row-gap: 40px;
    }

    .list-item {
        width: calc((100% - 48px) / 3);
        box-shadow: none;
    }

    .list-item:hover {
        box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
            0px 1px 1px rgba(46, 47, 66, 0.16),
            0px 2px 1px rgba(46, 47, 66, 0.08);
        transform: translateY(0%);
        cursor: pointer;
    }

    /*footer*/

    .page-footer {
        padding: 100px 0 100px;

    }

    .container.container-footer {
        max-width: 1158px;
        padding: 0 15px;
        display: flex;
        align-items: baseline;
        padding-bottom: 0;
        flex-direction: row;
        flex-wrap: nowrap;
    }

    .social-item-footer {
        display: flex;
        justify-content: flex-start;
        gap: 16px;
    }

    .footer-input {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
    }

    .logo-text {
        margin-right: 120px;
        margin-bottom: 0;
    }

    .social-footer {
        margin-bottom: 0;
        margin-right: 80px;
    }
}

/*mobile-menu*/

.mobile-menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #fff;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    z-index: 1;
}

.mobile-menu.is-open {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;

}

.mobile-menu-container {
    position: relative;
    padding-top: 72px;
    padding-bottom: 40px;
    display: flex;
    flex-direction: column;
    height: 100%;
}

.mobile-menu-close {
    border: none;
    position: absolute;
    color: #2e2f42;
    top: 24px;
    right: 24px;
    width: 24px;
    height: 24px;
    background-color: #e7e9fc;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    padding: 0;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-menu-close:hover {
    background-color: #404bbf;
    fill: #ffffff;
    border: none;
}

.mobile-menu-close:focus {
    background-color: #404bbf;
    fill: #ffffff;
    border: none;
}

.icon-close {
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.molile-menu-nav {
    margin-bottom: auto;
}

.mobile-item-nav {
    display: flex;
    flex-direction: column;
    position: relative;
    color: #404bbf;
    gap: 40px;
}

.mobile-item-studio {
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-link {
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.02em;
    color: #2e2f42;
    position: relative;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: transform 250ms;

}

.mobile-link-studio {

    font-size: 36px;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.02em;
    color: #404bbf;
    position: relative;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-link:hover,
.mobile-link:focus {
    color: #404bbf;
}

.mobile-link-studio:hover,
.mobile-link-studio:focus {
    color: #404bbf;
}

.mobile-info {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    font-style: normal;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    margin-bottom: 48px;
}

.mobile-info-list {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.mobile-address-link-call {
    font-size: 20px;
    font-weight: 500px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #4d5ae5;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-address-link {
    font-size: 20px;
    font-weight: 500px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-address-link:hover {
    color: #4d5ae5;
}

.mobile-address-link:focus {
    color: #4d5ae5;
}

.social-item-mobile {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: row;
    gap: 40px;
}


.social-link-mobile {
    width: 40px;
    height: 40px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.link-mobile {
    width: 100%;
    height: 100%;
    background-color: #4d5ae5;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.link-mobile:hover {
    background: #31d0aa;
}

.link-mobile:focus {
    background: #31d0aa;
}


@media screen and (min-width: 768px) {
    .mobile-menu {
        display: none;
    }
}